<div>
    <a class="mr-3 text-decoration-none" href="whatsapp://send?text={{ page.url | absolute_url }}"
        rel="nofollow noreferrer" title="Share via Whatsapp">
        {% assign color = site.social | where: 'icon', 'whatsapp' | first %}
        {% include icons/fontawesome/brands/whatsapp.svg height='1.5rem' fill=color.color %}
    </a>

    <a class="mr-3 text-decoration-none" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"
        rel="nofollow noreferrer" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Facebook">
        {% assign color = site.social | where: 'icon', 'facebook' | first %}
        {% include icons/fontawesome/brands/facebook.svg height='1.5rem' fill=color.color %}
    </a>

    <a class="mr-3 text-decoration-none" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ page.url | absolute_url }}"
        rel="nofollow noreferrer" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Twitter">
        {% assign color = site.social | where: 'icon', 'twitter' | first %}
        {% include icons/fontawesome/brands/twitter.svg height='1.5rem' fill=color.color %}
    </a>

    <a class="mr-3 text-decoration-none" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | uri_escape }}&summary={{ page.description }}&source={{ site.title }}"
        rel="nofollow noreferrer" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on LinkedIn">
        {% assign color = site.social | where: 'icon', 'linkedin' | first %}
        {% include icons/fontawesome/brands/linkedin.svg height='1.5rem' fill=color.color %}
    </a>

    <a class="mr-3 text-decoration-none" href="http://www.reddit.com/submit?url={{ page.url | absolute_url }}"
        rel="nofollow noreferrer" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
        title="Share on Reddit">
        {% assign color = site.social | where: 'icon', 'reddit' | first %}
        {% include icons/fontawesome/brands/reddit-alien.svg height='1.5rem' fill=color.color %}
    </a>

    <a class="mr-3 text-decoration-none" href="https://buffer.com/add?text={{ page.title | uri_escape }}&url={{ page.url | absolute_url }}"
        rel="nofollow noreferrer" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="Share via Buffer">
        {% assign color = site.social | where: 'icon', 'buffer' | first %}
        {% include icons/fontawesome/brands/buffer.svg height='1.5rem' fill=color.color %}
    </a>

    <a class="mr-3 text-decoration-none" href="mailto:?subject={{ page.title | uri_escape }}&amp;body=Check%20out%20this%20site%20{{ page.url | absolute_url }}"
        rel="nofollow noreferrer" title="Share via Email">
        {% assign color = site.social | where: 'icon', 'google' | first %}
        {% include icons/fontawesome/solid/envelope.svg height='1.5rem' fill=color.color %}
    </a>
</div>
