---
permalink: /

meta:
  title: #todo
  description: #todo
---

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include structure/meta.html %}
    {% include structure/styles.html slick="true" %}
</head>

<body class="d-flex flex-column justify-content-between">

    <div class="top-wrapper">
        {% include structure/navbar.html %}
    </div>

    <div class="footer-wrapper">
        {% include structure/footer.html %}
    </div>

{% include structure/scripts.html %}
</body>
</html>
